<!-- <h1>Accessories Content</h1> -->
<div class="collection-content-steps" style="padding: 0% 10% 10% 10%;">

  <p>Take your beard game to the next level with the best accessories made for all the real bosses out there. Bossman beard care accessories have been designed to enhance your beard experience so that you can have that perfect beard you have always dreamt of. Together with our premium beard grooming jellies, waxes, and lotions, our Bossman accessories will make having a great-looking beard year-round easy and convenient, whether you are at home or on-the-go. </p>
    
<h2>Choose From the Wide Selection of Quality Beard Care Accessories</h2>
<p>From travel bags and beard massagers to travel-size bottles and razors, we have everything you need to help you take care of your beard. Our accessories are perfect for men who are serious about their facial hair and want the best version of their beard 24/7. We encourage you to browse our wide selection of accessories, and we guarantee you will find an item or two that will certainly improve your overall beard care routine.</p> 
<!-- -->
<div class="u-vmenu">
    <ul class="accordion">
<li class="show">
    <a class="toggle" href="javascript:void(0);">
      <h3>Bossman Brand Stickers</h3>
    </a>
      <div class="faq_content inner">
        <p>Your laptops, fridges, cars, motorcycles, and toolboxes would all look a whole lot better with a Bossman sticker or seventy-two on them. We offer both large Bossman logo stickers and sticker four-packs, so you can select the right size for your sticker needs or stick them all over the place. It’s the easiest way to rep Bossman and show the world your beard means business.</p>
      </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Bossman Soap Dishes</h3>
    </a>
    <div class="faq_content inner">
    <p>Make your soap last longer, stay cleaner, and fight against shower gunk all with the help of Bossman’s soap dishes. You can grab one for home, for the road, or both to make sure your soap is in ready-to-use condition no matter where you are. And an extra bonus, they look pretty sharp with those Bossman logos on them as well.</p>
    </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Travel Size Toiletry Bottles</h3>
    </a>
    <div class="faq_content inner">
    <p>There’s nothing worse than showing up to the airport with your toiletries just to get stopped by TSA and get your bag searched. If they do end up noticing that your Bossman Jelly Beard Oil is over the allowed ounces, it could get even worse; you might have to throw them out. Grab some of our travel-sized bottles and avoid the drama the next time you travel.</p>
    </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Men's Scalp Massage Shower Brush</h3>
    </a>
    <div class="faq_content inner">
    <p>Get deeper into the pores and get a better clean with the best shower brush on the market for both beards and heads. The benefits of using our shower brush are far-reaching and go from help with moisturizing to fighting against beard itch and dandruff. If you think we’re a bit biased (which we might be), head over to the product page and read some of our raving reviews from real customers.</p>
    </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Bossman Toiletry Bag</h3>
    </a>
    <div class="faq_content inner">
    <p>Look like a boss everywhere you go, all the time. The Bossman toiletry bag can hold a whole slew of Bossman products when you’re on the go. Not to mention, it looks pretty damn good as well.</p>
    </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Men’s Beard Accessories for Healthy Beard Growth</h3>
    </a>
    <div class="faq_content inner">
    <p>Like the rest of our Bossman products, our beard care accessories are made with the best designs and materials to promote healthy beard growth and amazing results you and everyone around you will love. We are all about beards and helping bosses like you grow the beard they want so that you can rest assured our accessories and beard grooming formulas are made with you and your beard in mind. No one said being a boss is easy, but we make damn sure it’s as easy as it can be.</p>
    </div>
</li>
<li>
    <a class="toggle" href="javascript:void(0);">
    <h3>Take Your Beard Game to the Next Level</h3>
    </a>
    <div class="faq_content inner">
    <p>If you are asking yourself how you can make the most of your beard care routine, the answer is having the right products—and that includes having high-quality accessories specifically designed for optimal beard care. Add Bossman beard grooming accessories to your weekly routine for an easy, effective, and totally boss way to up your beard game.</p>
    </div>
</li>
</ul>
</div>
<!-- -->

<div class="collection-content-faqs">
    <h2>FAQ:</h2>
    <div class="u-vmenu">
          <ul class="accordion">
    <li class="show">
    <a class="toggle" href="javascript:void(0)";>Do I need to brush my beard?</a>
    <div class="faq_content inner">If you want your beard to look its best, then yes, you definitely should. Brushing is not only good for the way your beard looks, but if you are using beard products like our jellies and shampoos, combing can help your beard absorb all those powerhouse nutrients that can help every hair grow healthier and stronger.</div>
    </li> 
    <li>
        <a class="toggle" href="javascript:void(0)";>Can I use a regular hairbrush to comb my beard?</a>
        <div class="faq_content inner">Technically, you can, but you really shouldn’t. Hairbrushes are made for your head, so it makes more sense to use brushes and combs made specifically for beards. Remember, beard hair and regular hair are not the same!</div>
        </li> 
    <li>
        <a class="toggle" href="javascript:void(0)";>How do I clean my Bossman beard accessories?
        </a>
        <div class="faq_content inner">We recommend cleaning your beard accessories as soon as you are done using them. You can use clean, warm water to get rid of any dirt or oil from accessories like soap dishes, travel-sized bottles, and combs.</div>
    </li>
    <li>
        <a class="toggle" href="javascript:void(0)";>How can I store my beard care products?</a>
        <div class="faq_content inner">Keep your accessories in a cool, dry place. To better protect them from outside factors like dirt, we suggest storing them in a toiletry bag, like our best-selling Bossman Hanging Toiletry Bag, which is specially designed to hold all your beard care products and men’s beard accessories.</div>
    </li>
    <li>
        <a class="toggle" href="javascript:void(0)";>How are Bossman accessories different from other brands?</a>
        <div class="faq_content inner">Our Bossman accessories are made with your beard in mind. All products have been made with the utmost style and convenience so that you can enhance every aspect of your beard care routine.</div>
    </li>
    </ul>
</div></div>
</div>