<!-- <h1>Apparel Content</h1> -->
<div class="collection-content">

	<p>Bossman’s apparel is for the bosses who take their beards seriously.  If the idea of shaving makes you wince, and the thought of being clean-shaven only crosses your mind in your nightmares, Bossman clothing is for you. It’s the perfect way to show the world that you are passionate about your beard and that you only use the best products to take care of it.</p>
	<p>Bossman offers a wide variety of hats, beanies, shirts, hoodies, and more to make sure that the real bosses of the world can show their love for manly beards and their allegiance to premium quality beard care.</p>
	
  	<h2>Bossman Clothing for Every Occasion</h2>
	<p>Our Bossman tank tops are perfect for the gym, the beach, or anywhere. Our shirts are a perfect hybrid of style and functionality and are perfect for any part of your daily life. The Bossman black pullover hoodies are ideal for those of you living in cold climates or just find needing a great layering piece. The Bossman grey work shirt is the Boss-est work shirt out there, whether for a polished work look or an evening out. Bossman’s hats and beanies are made for bosses who like a little flair or just want to keep warm in the colder months.
Whatever your style is, we have created an apparel line designed to make sure there’s something for every type of boss. We invite you to browse our collection and find the perfect piece to compliment your favorite beard care products like jelly beard oil, Bossman pomade, beard balm, fortify intense beard conditioner, and beard hair and body soap. So, the time is now to browse and start building a Bossman wardrobe and show your allegiance to the good beard brotherhood.</p>

  	<h3>Pro-Tip</h3>
	<p>A shirt, hat, or other Bossman accessories can be the perfect addition to a small cart to take you over the threshold for free shipping. Reload on Bossman and upgrade your wardrobe all at the same time!</p>
</div>