
<div class="collection-content">
  
      <p>Our collection goes beyond simply making your beard look great for a day. We have created a complete system to improve every aspect of beard care, from enhancing the way it looks and feels to promoting healthy growth and stronger hairs. All our products are made with the highest quality ingredients, so you can rest assured that you are pampering your beard with the best beard care products available today.</p>


  <h2>Keep Your Beard in Primetime With the Right Beard Care Steps</h2>
  <p>We know real bosses are often busy, so keeping up with a proper beard care routine is not always easy. But that is exactly why we came up with a unique and complete beard care system that is easy to follow and incorporate into your daily routine. The Bossman system consists of four simple steps that guarantee the best version of your beard day in and day out.</p>

  <div class="collection-content-steps">
  
  <div class="u-vmenu">
  	<ul class="accordion">
      
      <li class="show">
      <a class="toggle" href="javascript:void(0);">
        <h3>Step One: Clean & Prep - With Bossman’s Beard, Hair, and Body Soap</h3>
      </a>
        <div class="faq_content inner">
          <p>Remove the grime without ripping away those important natural oils. Bossman’s beard, hair, and body soap are jam-packed with essential oils and no foaming agents, giving you a deep clean without drying out your face. Clean thoroughly and then get ready to take your beard to the spa in stages two, three, and four.</p>
        </div>
      </li>
      
      <li>
      <a class="toggle" href="javascript:void(0);">
      	<h3>Step Two: Repair & Condition - With Bossman’s Fortify Intense Beard Conditioner</h3>
      </a>
      <div class="faq_content inner"> 
        <p>You’re set up for success, and now is the time to replace all of those nutrients you’ve lost. Like an ice-cold beer at the end of a long day, your beard is going to love drinking this up.</p>
      </div>
      </li>
      
      <li>
      <a class="toggle" href="javascript:void(0);">
      	<h3>Step Three: Enhance Growth - With Bossman’s Boss Booster</h3>
      </a>
       <div class="faq_content inner">
        <p>There might not be a magic pill to create a beard, but taking Bossman’s Boss Booster on a regular basis will set you up to live up to your bearded potential. Eat your vegetables, take your Boss Booster, and you’ll be well on your way to rocking a top-notch beard.</p>
       </div>
      </li>
      
      <li>
      <a class="toggle" href="javascript:void(0);">
      	<h3>Step Four: Tame & Protect - With Bossman’s Relaxing Beard Balm</h3>
      </a>
      <div class="faq_content inner">
        <p>A beard flying up in your face, to the left, the right, and all directions at once all but defeats the purpose of everything we’ve done in steps one through three. Use Bossman’s relaxing beard balm to lock that beard in place all day long no matter how active your day-to-day is.</p>
      </div>
      </li>
      
    </ul>
    </div>
 </div>
    <h2>The Best Beard Care System on the Market</h2>
	<p>We take our beards seriously, and we know you do, too. Our mission is to help you get the perfect beard—the beard of your dreams. That beard that will have people staring and turning their heads. We want you to feel like the ultimate boss, and we know typical beard care won’t provide you with that. That is why all our products are carefully formulated with the best natural ingredients for a difference you can feel and see. No harsh chemicals or synthetic substances, or anything that will put your beard at risk of not being the best it can be. All our products are made with your beard in mind so that you can get the beard you have always wanted and rock it with all the confidence in the world.</p>

  <h2>Take Your Bear Care to the Next Level With Bossman</h2>
	<p>If you are new to Bossman or beard care in general, don’t fret. We encourage you to take a more detailed look at our special four-step system to learn how Bossman can help and why thousands of bosses around the world trust us with all their beard care needs.</p>

 
  <div class="collection-content-faqs">
    
  <h2>FAQ:</h2>
    <div class="u-vmenu">
  	<ul class="accordion">
                  
      <li class="show">
      <a class="toggle" href="javascript:void(0);">How to take care of your beard?</a>
        <div class="faq_content inner">
			Taking proper care of your beard is more than just applying beard oil every now and then. The complete beard care system includes oils, conditioners, balms, and the right accessories. Explore our four-step routine to learn what it takes to improve how your beard looks and feels and what it takes to promote healthier beard growth over time.
        </div>
      </li>
      
     <li>
      <a class="toggle" href="javascript:void(0);">How to use beard care products?</a>
        <div class="faq_content inner">
			The complete beard care routine involves different products, all of which have different applications. We strongly recommend following the instructions on each product label.
        </div>
      </li>

	<li>
      <a class="toggle" href="javascript:void(0);">How can I make my beard softer?</a>
        <div class="faq_content inner">
			Products like beard conditioner or our signature beard jelly oil can help you achieve a softer and smoother beard while nourishing every hair for healthy growth and longer-lasting results. 
        </div>
      </li>
            
     <li>
      <a class="toggle" href="javascript:void(0);">How to care for skin under the beard?</a>
        <div class="faq_content inner">
			The best way to protect the skin under your beard is to use beard care products made with natural ingredients that are not harsh on the skin. Bossman products are made with the best ingredients to protect your skin from redness, irritation, blemishes, and other imperfections.
        </div>
      </li>
            
                 
  	</ul>
    </div>
  </div>

  </div>

