<div class="collection-content">

  <div class="collection-content-steps">
  <h2>Choose from the Wide Selection of Quality Beard Grooming Kits</h2>
  <p>Every boss has different beard goals, so we offer a beard kit for all types of facial hair needs and preferences. Whether you are trying to start growing a strong, healthy beard or looking to improve your current routine, we have a grooming kit for you.</p>

  <div class="u-vmenu">
      <ul class="accordion">

      <li class="show">
      <a class="toggle" href="javascript:void(0);">Big BOSS Facial Hair Care Package</a>
        <div class="faq_content inner">
          <p>This is for the bearded boss who wants their bathroom stocked from floor to ceiling with Bossman products, so he can be prepared for anything that comes his way.  This complete kit includes:</p>

  <ul>
  <li>Bar Soap</li>
  <li>Fortify Intense Beard Conditioner</li>
  <li>Jelly Beard Oil</li>
  <li>Relaxing Beard Balm</li>
  <li>MUDstache Wax</li>
  <li>Metal Beard & Mustache Comb</li>
  <li>Engraved Boar Hair & Nylon Bristle Beard Brush</li>
  </ul>
          </div>
      </li>

     <li>
      <a class="toggle" href="javascript:void(0);">Complete Facial Hair Care Package</a>
        <div class="faq_content inner">
          <p>For the boss that wants to have full control over the look and feel of their facial hair. This combo pack comes with the essential Bossman products to cover all your basic beard and mustache needs.</p>

  <ul>
  <li>Fortify Intense Beard Conditioner</li>
  <li>Jelly Beard Oil</li>
  <li>Relaxing Beard Balm</li>
  <li>MUDstache Wax</li>
  <li>Metal Beard & Mustache Comb</li>
  </ul>
        </div>
      </li>

    <li>
      <a class="toggle" href="javascript:void(0);">Reload Package</a>
        <div class="faq_content inner">
          <p>As the name suggests, our Reload kit is for the bosses who take their routines seriously and never want a smooth, stylish beard year-round. It’s the ideal kit to restock the most essential beard care products on the market today.</p>

  <ul>
  <li>Bar Soap (X2)</li>
  <li>Jelly Beard Oil
  <li>Relaxing Beard Balm
  <li>Fortify Intense Beard Conditioner
  </ul>          </div>
      </li>

      <li>
          <a class="toggle" href="javascript:void(0);">Essential Care Package</a>
            <div class="faq_content inner">
              <p>This kit includes the essentials for new users or those who are often on the go. It is also an excellent option for bosses needing to reload on steps two, three, and four in our beard care process.</p>

              <ul>
              <li>Fortify Intense Beard Conditioner</li>
              <li>Jelly Beard Oil</li> 
              <li>Relaxing Beard Balm</li>
              </ul></div>
          </li>
          <li>
      <a class="toggle" href="javascript:void(0);">Professional Package</a>
          <div class="faq_content inner">
          <p>This is for those who want steps one through four delivered straight to their door. This kit comes with our best-selling Beard Pomade to help you rock any beard and ‘stache style like a real boss.</p>

  <ul>
  <li>Bar Soap</li>
  <li>Fortify Intense Beard Conditioner</li>
  <li>Jelly Beard Oil</li>
  <li>Beard Pomade</li>
  </ul>
    </div>
    </li>

    <li>
      <a class="toggle" href="javascript:void(0);">Cleansing Care Package</a>
          <div class="faq_content inner">
          <p>Our Cleansing Care kit is designed for bosses who want to upgrade their shower situation. It’s the easiest way to keep your beard looking clean and smelling fresh all day long.</p>

  <ul>
  <li>Bar Soap</li>
  <li>Fortify Intense Beard Conditioner</li>
  <li>Shower Beard Brush</li>
  </ul>
    </div>
    </li>
  </ul>

  <h2>All-Natural Ingredients for the Most Satisfying Results</h2>
  <p>We are all about helping men around the world achieve the beard they have always wanted. Our mission is to make you feel like the ultimate boss, and we know conventional beard care products won’t give you that. That is exactly why all the products in our Bossman beard kits are made with the best natural ingredients for real results you and everyone around you can see. No harsh chemicals or synthetic chemicals, or anything that you wouldn’t want to put on your face. All Bossman kits have been made with your beard in mind, so you look and feel like the real boss you are.</p>
  <h2>Upgrade to the Best Beard Grooming Products</h2>
  <p>If you are new to Bossman or beard care routines, or simply want to take your beard game to the next level, our kits are for you. We encourage you to take a more detailed look at each of the products in our kits and discover how Bossman can help with all your beard care needs.</p>

  <div class="collection-content-faqs">

      <h2>FAQ:</h2>
        <div class="u-vmenu">
          <ul class="accordion">

          <li class="show">
          <a class="toggle" href="javascript:void(0);">Can I customize my grooming kit?</a>
            <div class="faq_content inner">
              Yes! We know every boss has different preferences, so all our kits allow you to pick your favorite Bossman scent. We currently have five different scents, each formulated for different lifestyles and occasions so that you can choose the one that best fits your specific needs.
              </div>
          </li>

         <li>
          <a class="toggle" href="javascript:void(0);">How to use a beard grooming kit?</a>
            <div class="faq_content inner">
              Our kits come with a wide assortment of products for all steps in your beard care routine. We strongly suggest that you follow the instructions on each product label for the best results.
            </div>
          </li>

        <li>
          <a class="toggle" href="javascript:void(0);">What is the best beard grooming kit?</a>
            <div class="faq_content inner">
              Not all beards are the same, so there’s no “one-size-fits-all” beard kit. That’s why we have a Bossman beard kit for all types of bosses and beards. We recommend looking through the products in each kit and following the instructions on their labels.          </div>
          </li>


          </ul>
        </div></div>

  </div>
 </div>