<!--<h1> Shaving Products</h1>-->
<div class="collection-content">
  <div class="collection-content-steps">

  <h2>Professional-Grade Men’s Shaving Products for All Your Needs</h2>
  <p>We understand that your facial hair defines the type of boss you are, which is why our shaving and trimming products are made to help you style and shape your beard conveniently in any way you choose. Easy to use, durable, and specifically designed with style in mind, our beard grooming accessories are the perfect way to show the world that you mean business.</p>

  <!-- -->
  <div class="u-vmenu">
      <ul class="accordion">
  <li class="show">
      <a class="toggle" href="javascript:void(0);">
        <h3>Professional Barber Scissors</h3>
      </a>
        <div class="faq_content inner">
          <p>The perfect scissors to trim your beard, hair, and mustache. A design that would make a barber himself question everything he knows about scissors. If you do any sort of beard maintenance at home (or you work at a shop), these are the scissors you need.</p>
        </div>
  </li>
  <li>
      <a class="toggle" href="javascript:void(0);">
      <h3>Scythe Traditional Straight Razor</h3>
      </a>
      <div class="faq_content inner">
      <p>Tighten up that beard, head, or body hair with this sleek straight razor. Even just having this stylish razor on your counter sends a message to anyone who finds themselves in its presence— you take your grooming very, very seriously.</p>
      </div>
  </li>
  <li>
      <a class="toggle" href="javascript:void(0);">
      <h3>Classic Blade Replacing Straight Razor</h3>
      </a>
      <div class="faq_content inner">
      <p>The classic. Combine this barbershop quality straight razor with our double-sided replacement blade, and you’re completely set up to line-up that beard with ease. The easy folding action, leather protective case, and stylish magnetic box are just a few bonuses that make this straight razor a must-have for at-home shavers.</p>
      </div>
  </li>
  <li>
      <a class="toggle" href="javascript:void(0);">
      <h3>Double Edge Replacement Blades</h3>
      </a>
      <div class="faq_content inner">
      <p>Made with the highest quality 680V Swedish Stainless Steel, these replacement blades are some of the best in the industry. 20 Tucks of 5 blades for a total of 100 come in every order, each individually wrapped in wax paper.</p>
      </div>
  </li>
  <li>
      <a class="toggle" href="javascript:void(0);">
      <h3>Bossman: Your Answer to a Perfect Shave Every Single Time</h3>
      </a>
      <div class="faq_content inner">
      <p>If your beard requires some extra attention on the daily, these products are designed for you. Stop using disposable razors and arts & crafts scissors, and make the switch to Bossman to start grooming like a real boss.</p>
      </div>
  </li>
  </ul>
  </div>
  <!-- -->

    <div class="collection-content-faqs">
  <h2>FAQ:</h2>
  <div class="u-vmenu">
      <ul class="accordion">
  <li class="show">
  <a class="toggle" href="javascript:void(0)";>Are straight razor blades better than disposable razors?</a>
  <div class="faq_content inner">We don’t mean to sound biased, but our shaving products are up there with the best. Even professional barbers use Bossman for their clients! We encourage you to browse through our products to learn more about them and discover why bosses around the world trust Bossman for all their grooming needs.</div>
  </li> 
  <li>
  <a class="toggle" href="javascript:void(0)";>What are the best shaving products?</a>
  <div class="faq_content inner">Disposable razors are meant to be, well, disposed of after one single use. That means they are often made with inexpensive materials, which can affect the quality of your shave and be harsh on the skin. Bossman shaving care products are designed with the same professional-grade materials that you can find in your local barbershop. Our grooming products will give you a much better shave than disposable razors and won’t leave your skin feeling irritated.</div>
  </li> 
  <li>
  <a class="toggle" href="javascript:void(0)";>Can I use Bossman shaving products for sensitive skin?</a>
  <div class="faq_content inner">If you have sensitive skin, our shaving products are a great alternative to disposable razors and other products made with cheaper materials.</div>
  </li> 
  <li>
  <a class="toggle" href="javascript:void(0)";>Are Bossman razors safe?</a>
  <div class="faq_content inner">Yes! Our products are entirely safe for all types of skin and facial hair.</div>
  </li> 

     </ul>
  </div>
  </div>
	</div>
</div>