
<div class="home row buildyourownkit">
    <div class="section_titles">
    <h3>Build Your Own Kit</h3>
    <a href="/pages/build-your-own-kit" class="section_link"><span>Start Now</span></a>
    </div>
</div>

<div class="build-row">

<div class="col left">
<div class="colbg" style="background:url({{ 'BYOK-Left.jpg' | asset_img_url: '1500x' }});">
<a class="btn" href="/pages/build-your-own-kit">Build</a>
</div>
</div>

<div class="col right">
<div class="colbg" style="background:url({{ 'BYOK-Right.jpg' | asset_img_url: '1500x' }});">
<a class="btn" href="/pages/build-your-own-kit">Build</a>
</div>
</div>


</div>
</div>