<div class="home row fourstepprocess">
    <div class="section_titles">
    <h3>Bossman’s Four Step Process</h3>
    <a href="/pages/4stage-process"><span class="mobile">Start Now</span></a>
    </div>
</div>


<!--- Start Desktop -->
<div id="fourstep-desktop" class="fourstep row">
  
  <div class="col">
    <div class="stage-video stage-video--1">
      <video class="thevideo" loop preload="none">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage1-4stagekit.mp4.mp4?v=1594315442" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage1-4stagekit.webmhd.webm?v=1594315830" type="video/webm">
        <source src="//cdn.shopify.com/s/files/1/2283/7011/files/stage1-4stagekit.oggtheora.ogv?v=1594315757" type="video/ogg">
      </video>
    </div>
    <span>1. Clean & Prep</span>
    <a href="/collections/stage-1" class="btn desktop">Shop Now</a>
    <a href="/collections/stage-1" class="btn mobile">Start Now</a>
  </div>

  <div class="col">
    <div class="stage-video stage-video--2">
      <video class="thevideo" loop preload="none">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage2-4_stagekit.mp4.mp4?v=1594315442" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage2-4_stagekit.webmhd.webm?v=1594315829" type="video/webm">
        <source src="//cdn.shopify.com/s/files/1/2283/7011/files/stage2-4_stagekit.oggtheora.ogv?v=1594315757" type="video/ogg">
      </video>
    </div>
    <span>2. Repaire & Condition</span>
    <a href="/collections/stage-2" class="btn desktop">Shop Now</a>
    <a href="/collections/stage-2" class="btn mobile">Start Now</a>
  </div>

  <div class="col">
    <div class="stage-video stage-video--3">
      <video class="thevideo" loop preload="none">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage3-4stagekit.mp4.mp4?v=1594315441" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage3-4stagekit.webmhd.webm?v=1594315829" type="video/webm">
        <source src="//cdn.shopify.com/s/files/1/2283/7011/files/stage3-4stagekit.oggtheora.ogv?v=1594315757" type="video/ogg">
      </video>
    </div>
    <span>3. Nourish & Enhance</span>
    <a href="/collections/stage-3" class="btn desktop">Shop Now</a>
    <a href="/collections/stage-3" class="btn mobile">Start Now</a>
  </div>

  <div class="col">
    <div class="stage-video stage-video--4">
      <video class="thevideo" loop preload="none">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage4-4stagekit.mp4.mp4?v=1594315442" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/2283/7011/files/stage4-4stagekit.webmhd.webm?v=1594315830" type="video/webm">
        <source src="//cdn.shopify.com/s/files/1/2283/7011/files/stage4-4stagekit.oggtheora.ogv?v=1594315757" type="video/ogg">
      </video>
    </div>
    <span>4. Tame & Protect</span>
    <a href="/collections/stage-4" class="btn desktop">Shop Now</a>
    <a href="/collections/stage-4" class="btn mobile">Start Now</a>
  </div>
	
  	{% comment %}
    <div class="col">
      <div id="videosList">   
        <div class="video video1" data-pimage="//cdn.shopify.com/s/files/1/2283/7011/files/Step-1.jpg?v=1591208598" style="background-image:url(//cdn.shopify.com/s/files/1/2283/7011/files/Step-1.jpg?v=1591208598);">
        </div>
      </div>
      <span>1. Clean & Prep</span>
      <a href="/collections/stage-1" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-1" class="btn mobile">Start Now</a>
    </div>

    <div class="col">
      <div id="videosList">           
        <div class="video video2" data-pimage="//cdn.shopify.com/s/files/1/2283/7011/files/Step-2.jpg?v=1591211296" style="background-image:url(//cdn.shopify.com/s/files/1/2283/7011/files/Step-2.jpg?v=1591211296);">
        </div>
      </div>

      <span>2. Repair & Condition</span>
      <a href="/collections/stage-2" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-2" class="btn mobile">Start Now</a>
    </div>


    <div class="col">
      <div id="videosList">           
        <div class="video video3" data-pimage="//cdn.shopify.com/s/files/1/2283/7011/files/Step-3.jpg?v=1591211585" style="background-image:url(//cdn.shopify.com/s/files/1/2283/7011/files/Step-3.jpg?v=1591211585);">
        </div>
      </div>
      <span>3. Nourish & Enhance</span>
      <a href="/collections/stage-3" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-3" class="btn mobile">Start Now</a>
    </div>


    <div class="col">
      <div id="videosList">           
        <div class="video video4" data-pimage="//cdn.shopify.com/s/files/1/2283/7011/files/Step-4.jpg?v=1591211648" style="background-image:url(//cdn.shopify.com/s/files/1/2283/7011/files/Step-4.jpg?v=1591211648);">
        </div>
      </div>

      <span>4. Tame & Protect</span>
      <a href="/collections/stage-4" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-4" class="btn mobile">Start Now</a>
    </div>
  {% endcomment %}


</div>
<!--- End Desktop -->

<!--- Start Mobile -->


<div id="fourstep-mobile" class="fourstep row">

    <div class="col">
      <div id="videosList">           
      <div class="video" style="background-image:url('//cdn.shopify.com/s/files/1/2283/7011/files/Step-1-GIF.gif?v=1591207023');">
        </div>
      </div>

      <span>1. Clean & Prep</span>
      <a href="/collections/stage-1" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-1" class="btn mobile">Start Now</a>
    </div>




    <div class="col">
      <div id="videosList">           
      <div class="video" style="background-image:url('//cdn.shopify.com/s/files/1/2283/7011/files/Step-2-GIF.gif?v=1591207038');">       
        </div>
      </div>
      <span>2. Repair & Condition</span>
      <a href="/collections/stage-2" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-2" class="btn mobile">Start Now</a>
    </div>


    <div class="col">
      <div id="videosList">           
      <div class="video" style="background-image:url('//cdn.shopify.com/s/files/1/2283/7011/files/Step-3-GIF.gif?v=1591207148');">
        </div>
      </div>
      <span>3. Nourish & Enhance</span>
      <a href="/collections/stage-3" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-3" class="btn mobile">Start Now</a>
    </div>


    <div class="col">
      <div id="videosList">           
      <div class="video" style="background-image:url('//cdn.shopify.com/s/files/1/2283/7011/files/Step-4-GIF.gif?v=1591207184');">
        </div>
      </div>
      <span>4. Tame & Protect</span>
      <a href="/collections/stage-4" class="btn desktop">Shop Now</a>
      <a href="/collections/stage-4" class="btn mobile">Start Now</a>
    </div>


</div>
<!--- End Mobile -->
