#shopify-section-header {
	position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 999999999999999999999;
}


@media all and (min-width: 1023px) {
  .header.big .menu {
  	display: none;
  }
  
  .menu.media {
  	display: none;
  }
  
}


#menu--burger {
	display: none;
    margin-bottom: 10px;
}

.atc-banner--container {
    position: fixed;
    top: 0;
    z-index: 999999998;
    max-width: 500px;
    height: 100%;
    right: 0;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 2px 5px rgba(127,127,127,0.25);
    box-shadow: 0 2px 5px rgba(127,127,127,0.25);
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  overflow: scroll;
}

.atc-banner--container.show-cart-popup {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.visible {
	display: block !important;
}

.atc-banner--outer {
    position: relative;
    padding: 1.25rem
}

.atc-banner--inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    text-align: left;
}


.atc-banner--top {
    background-color: black;
    border-bottom: solid 1px #979797;
    padding: 20px 0;
    position: relative;
}

.atc-banner--top span {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.atc-banner--product {
    font-size: 16px;
    margin-bottom: 50px;
}
.atc-banner--product.one-item {
  margin-bottom: 300px;
}

@media(max-width: 500px) {
  .atc-banner--product.one-item {
      margin-bottom: 75px;
  }
  .atc-banner--product {
    margin-bottom: 50px;
  }
}

.atc-banner--product .unlock-free-bar {
    background-color: black;
    color: white;
    padding: 15px;
}

.atc-banner--product .unlock-free-bar > label {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 14px;
}

.atc-banner--product-title {
    margin-top: 0;
    font-size: 1.25rem;
    color: #4c4c4c
}

.atc-banner--product-title--icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle
}

.atc-banner--product-title--icon svg {
    display: block;
    width: 100%;
    height: 100%
}

.atc--product {
    max-width: 19.375rem;
    margin: 2rem auto 0;
    font-size: 0;
    text-align: left;
    vertical-align: middle
}

@media screen and (min-width: 720px) {
    .atc--product {
        display:block;
        max-width: 100%;
        margin-top: 1.75rem
    }
}

.atc--product-image {
    display: inline-block;
    width: 100px;
    vertical-align: middle
}

.atc--product-image svg,.atc--product-image img {
    max-width: 100%
}

.atc--product-details {
    display: inline-block;
    width: calc(100% - 8rem);
    margin-left: 1.75rem;
    font-size: 16px;
    vertical-align: middle
}

.atc--product-details--title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.3125
}

.atc--product-details--options {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.4;
    opacity: 0.6
}

.atc--product-details--price {
    display: block;
    margin-top: 0.25rem;
    line-height: 1.2
}

.atc-banner--cart-subtotal {
    font-size: 1.25rem
}

.atc-subtotal--label {
    opacity: 0.6
}

.atc-subtotal--price {
    display: inline-block;
    margin-left: 0.5rem;
    color: #4c4c4c
}

.atc-banner--cart-footer {
    margin-top: 10px;
    font-size: 0
}

.atc-button--viewcart,.atc-button--checkout {
    padding: 0.75rem 1.125rem;
    font-size: 1rem;
  display: inline-block;
}

.atc-button--viewcart {
	color: #05901f;
    font-weight: 700;
    border: 1px solid rgba(127,127,127,0.3);
    border-radius: 3px;
}

.atc-button--viewcart:hover {
	background: #fff;
    border: 1px solid rgba(127,127,127,0.5);
}

.atc-button--checkout {
    margin-left: 0.5rem;
  	background-color: #05901f;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
}

.atc-button--checkout:hover {
  	background: #05961f;
}

.atc-banner--close {
    position: absolute;
  padding: 10px;
    top: 50%;
    right: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
}


/*** menu ***/
.site-header-sticky--scrolled .brotherhood-menu {
  display:none !important;
}

.head .custom {
  display:none !important;
}

.site-header-sticky--scrolled .brotherhood-reviews4k {
  display:none !important;
}

.site-header-sticky--scrolled .header.big .container .head {
    padding-bottom:0px
}

.site-header-sticky--scrolled .header.big .menu .container {
    margin-bottom:10px;
}



.site-header-sticky--scrolled .header.big {
    padding-top: 0px;
    margin-bottom: 5px;
    margin-top: -20px;
    border-bottom: 1px solid #e2e2e2;
}


.header.big .container .menu.visible .head {
  padding-bottom: 0px;
}
.header.big .container .menu.visible .head {
  padding-bottom: 33px;
}

/*** end menu ***/


/*** loader user cart ***/
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/*** end loader user cart ***/