<div class="shop-by-scent">

    {% section 'shop-scent-hero' %}

    <div class="scent-blocks">
    {% section 'shop-scent-recommendation' %}
    </div>

    {% section 'shop-scent-featured' %}

</div>
