<div class="title-head row">
  <h1>Join Our Newsletter</h1>
  </div>

<div class="page">
  
  {% comment %}
    <form method="post" action="/contact" id="contact_form" accept-charset="UTF-8" class="subscribe-page">
    <input type="hidden" name="form_type" value="contact">
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="contact[tags]" value="newsletter, subscribe">
    <input type="email" name="contact[email]" id="footer-EMAIL" placeholder="What's your email">
    <input type="submit" class="btn" value="SUBMIT" style="">
    </form>
   {% endcomment %}
  
  				<div class="klaviyo-form-U2ef5J"></div>


</div>