<script>
window.location.href = "/apps/bundles/bundle/37183";
</script>

<div class="page-kit" style="padding-top:15%;text-align:center;">
<h1 style="font-family:Bely;font-weight: bold;">Loading The Bossman Kit Builder...</h1>
  
     

</div>
<div class="page-kit" style="display:none;">
    {% section 'kit-hero' %}
    
    {% section 'kit-discount' %}

    {% section 'kit-stage-slide' %}

    {% section 'kit-related-product' %}
</div>